body {
  padding: 0;
  margin: 0;
}

#map {
  height: 100vh;
}

/* Legend Styling */
.info.legend {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 18px;
}

.info.legend i {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 5px;
}


